<%= simple_form_for @appointment, html: { multipart: true} do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
   <h2>appointment <unsuccessful></unsuccessful>, 
     there is/are <%= pluralize(@appointment.errors.count, "error") %>.</h2>
     prevented this appointment from saving

       <% @appointment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
<% end %> 
  <div class="form-inputs">
  <h3>Date</h3>
    <%= f.date_field :date, min: Date.today+1.day %>
  </div>
  <h3>Time</h3>
  <div id="time-div">
    <%= f.input :hour, collection: 9..18, label: false %>&nbsp;&nbsp; : &nbsp;&nbsp;
    <%= f.input :minute, collection: ['00','15','30','45'], label: 
    false %>  
  </div>
  <div class="form-inputs">
   <%= f.association :categories, :as => :check_boxes, label: "Services To Be Availed" %>
   </div> 

      <%= f.input :contact_number, required: true, :as => :hidden %>
  
   <% if current_user.staff == true ||current_user.admin == true %>
      <%= f.association :user, :label_method => :email, :value_method => :id %>
      <%= f.input :approved %>
      <%= f.input :note %>
      <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
