<p id="notice"><%= notice %></p>
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Appointment Id # [<%= @appointment.id %>]
    </div>
    <div class="panel-body"
      <p>
        <strong>Date :</strong>
        <%= @appointment.date %>
      </p>

      <p>
        <strong>Time :</strong>
        <%= @appointment.hour %>  :   <%= @appointment.minute %>
      </p>
      <p>
      <strong> Services to be Availed :</strong>
      <ul>
       <% @appointment.categorizations.each do |cat|  %>
        
        <li><%=  cat.category.name %></li>
          
       
       <% end %>

        </ul>

      </p>
         

      <p>
        <strong>Status :</strong>
     
        <% if @appointment.approved_app?%>
           <font style="color: green">
          Approved
          </font>
          Waiting for Confirmation
        <% end %>
      </p>

      <% if @appointment.user.try(:guest?) %>
      <p>
        <strong>Contact Number :</strong>
        <%= @appointment.contact_number %>

      </p>
      	
      <% end %>
          <% if current_user.admin? || current_user.staff? %>
             <p>
            <strong> Contact info: </strong>
            <%= @appointment.user.try(:contact_number) %> /  <%= @appointment.try(:contact_number) %>
            </p>
            <p>
           <strong> Note : </strong>
           </p>
           <p>
            <%= simple_format(@appointment.note) %> 
            </p>
              <% if @appointment.approved_app?%>
              <p>
                  <%= link_to "Marked as Approved", approved_appointment_path(@appointment.id), method: :patch, data: {confirm: "Are you Sure you want to mark appointment Approved??"},class: "btn btn-primary disabled"  %>
              <% else %>
                  <%= link_to "Mark as Approved", approved_appointment_path(@appointment.id), method: :patch, data: {confirm: "Are you Sure you want to mark appointment Approved??"},class: "btn btn-primary", id: "approve_button" %>
              <% end %>

          </p>
          <% end %>
      <% if current_user.admin? || current_user.staff? %>
      <hr>
      <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-default' %> 
      <% end %>
      <%= link_to 'Back', appointments_path, class: 'btn btn-default' %>
      </div>
      </div>
</div>